// colours
$black: #000;
$white: #fff;
$purple: #b666d2;
$orange: #ec8c6a;
$transparent-orange: #ef9f82;
$box-orange: #f2af97;
$gray: #ededed;
$green: #8aeebe;
$circleGreen: #42c8b5;
$circleOrange: #f48b3b;
$circleRed: #f55050;
// fonts
$header: 700 28px/37px Avenir;
$sub-heading: 500 18px/23px Avenir;
$paragraph: 300 16px/21px Avenir;
$list: 300 18px/23px Avenir;
$buttonText: 400 20px/26px Avenir;

// fonts
$small-header: 700 25px/34px Avenir;
$small-sub-heading: 300 15px/20px Avenir;
$small-paragraph: 300 13px/18px Avenir;
$small-buttonText: 400 17px/23px Avenir;
