.coming {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 200px;
  }
}
