.footer {
  align-items: center;
  background: rgba(0, 0, 0, 0.92);
  color: #fff;
  display: flex;
  height: 28px;
  justify-content: space-between;
  padding-right: 15px;
  max-height: 28px;
  position: fixed;
  bottom: 0;
  width: 100%;
  img {
    border-radius: 50%;
    width: 20px;
  }
  .bookImage {
    padding-right: 15px;
  }
  .instagram {
    padding-left: 15px;
  }
}
