.nav {
  align-items: center;
  background: rgba(0, 0, 0, 0.92);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  height: 28px;
  margin-left: 20px;
  max-height: 28px;
  top: 0;
  width: 100%;
  img {
    border-radius: 50%;
    width: 20px;
  }
}
