@import "../../shared/styles";

.QuestionPage {
  align-items: center;
  background: $orange;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  text-align: center;

  h1 {
    color: $white;
    font: 300 40px/55px Avenir;
    margin: 0 auto;
  }

  h3 {
    color: $white;
    text-align: left;
  }

  p {
    color: $white;
    font: 300 20px/27px Avenir;
    margin: 0;
  }

  .questionContainer {
    margin-bottom: 10%;
    position: relative;
    svg {
      fill: white;
      position: absolute;
      right: -10%;
      top: 50%;
    }
  }

  .buttonSpans {
    span {
      margin: 0 6px;
    }
  }
  button {
    background: rgba($white, 0.17);
    border: none;
    border-radius: 30px;
    color: $white;
    height: 44px;
    width: 105px;

    &:focus {
      background: $purple;
    }
  }
  .nextButtonContainer {
    margin-left: 70%;
    margin-top: 106px;
    position: relative;

    .nextButton {
      background: $purple;
      height: 48px;
      width: 48px;
    }

    .nextButton:disabled {
      background: #e49f88;
    }
    svg {
      position: absolute;
      top: 25%;
      left: 25%;
      fill: $white;
    }
  }

  .submitButton {
    background-color: $purple;
    font-weight: bold;
    height: 50px;
    margin-top: 107px;
    margin-left: 40%;
    width: 180px;
  }

  .backButton {
    margin-right: 62%;
  }

  .progressBar {
    margin-bottom: 30%;
  }
  .MuiLinearProgress-barColorPrimary {
    background-color: $purple !important;
  }

  .MuiLinearProgress-colorPrimary {
    background-color: $gray !important;
    width: 285px;
  }
}

.Modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .modalTextBox {
    border: none;
    border-radius: 7px;
    background-color: #e49f88;
    height: 385px;
    position: relative;
    width: 385px;

    &:focus {
      outline: none;
    }

    p {
      color: #fff;
      font: $paragraph;
      margin: 0 auto;
      padding: 0 17%;
      position: absolute;
      text-align: center;
      top: 30%;
    }

    .helpIcon {
      fill: $white;
      left: 25%;
      position: absolute;
      top: 22%;
    }

    .closeIcon {
      fill: $white;
      position: absolute;
      right: 9%;
      top: 7%;
    }
  }
}
