@import "../../shared/styles";

.startPage {
  background: $orange;
  padding: 30px;

  button {
    border: none;
    border-radius: 30px;
    color: white;
    font: $buttonText;
    background-color: $purple;
    height: 54px;
    width: 285px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .buttonContainer {
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }

  .startPara {
    margin: 43px;
  }
  p {
    color: $white;
    font: $paragraph;
    text-align: center;
  }

  h1 {
    color: $white;
    font: $header;
    margin-top: 43px;
    text-align: center;
  }

  .registering {
    margin-left: 40px;
    text-align: left;
  }
}
