@import "../../shared/styles";
.homeMiddelSecion {
  .homeMiddle {
    background: $white;
    position: relative;
  }
  button {
    background-color: $white;
    border: solid 2px $purple;
    border-radius: 30px;
    color: $orange;
    font: $buttonText;
    height: 54px;
    width: 285px;

    a {
      color: $orange;
      text-decoration: none;
    }
  }

  .buttonContainer {
    margin: 24px auto;
    text-align: center;
    width: 100%;

    p {
      margin: 0;
      color: $purple;
    }
  }

  .checkPoints {
    background: $white;
    display: flex;
    flex-direction: column;
    height: 435px;
    justify-content: flex-end;
    z-index: -4;

    @media only screen and (max-width: 400px) {
      margin-top: 71px;
    }

    p {
      color: $orange;
      font: $paragraph;
    }
  }

  h1 {
    color: $purple;
    margin: 0;
    padding: 0 33px;
    text-align: left;
    font: $header;
  }

  .registering {
    margin-left: 40px;
    text-align: left;
  }
  .checkList {
    color: $orange;
    list-style: none;
    padding: 0 20px;

    li:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      background-image: url("../../Components/Icons/tick.svg");
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 1em;
    }
    li {
      display: flex;
      font: $list;
      margin: 10px;
    }
  }
  .homeMiddle:before,
  .homeMiddle:after {
    margin-top: -3px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: solid 1px $orange;
    height: 180px;
  }
  .homeMiddle:after {
    -webkit-mask: radial-gradient(
          100% 80% at top,
          orange 78.5%,
          transparent 79%
        )
        left,
      radial-gradient(100% 80% at bottom, transparent 78.5%, orange 79%) right;
    mask: radial-gradient(100% 80% at top, white 79.5%, transparent 80%) left,
      radial-gradient(100% 80% at bottom, transparent 79.5%, white 80%) right;
    -webkit-mask-size: 50.1% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-size: 51.1% 100%;
    mask-repeat: no-repeat;
    background: $orange;
  }
}
