@import "../../shared/styles";

.slider-wrapper {
  margin-top: 5%;
  overflow: hidden;
  width: 350px;
  height: 250px;
  @media only screen and (max-width: 349px) {
    width: 310px;
  }
  p {
    color: $orange;
  }
}

.slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-item {
  align-items: center;
  color: $white;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  font-size: 20px;
  height: 300px;
  left: 0px;
  margin: 0 auto;
  position: relative;
  transition: all 0.2s linear;
  text-align: center;
  width: 350px;
  @media only screen and (max-width: 349px) {
    width: 310px;
  }

  .SliderTextContainer {
    margin: 0 11%;
    h1 {
      color: $orange;
      font: $header;
      text-align: left;
    }
    h3 {
      color: $purple;
      font: $sub-heading;
      text-align: left;
    }
    p {
      color: $orange;
      font: $paragraph;
      text-align: center;
    }
  }
}

.hide {
  @extend .slider-item;
}

// .buttons-wrapper {
//   width: 400px;
//   display: flex;
//   justify-content: space-between;
//   position: absolute;
//   top: 50%;
//   margin-top: -15px;
// }

// .buttons-wrapper .prev-button {
//   background-image: url(http://static.birgun.net/static/images/slider-arrow-left.svg);
//   background-size: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   height: 30px;
//   width: 30px;
//   border-radius: 4px;
//   color: $white;
//   border: none;
//   cursor: pointer;
//   outline: none;
//   transition: all 0.2s linear;
// }

// .buttons-wrapper .next-button {
//   background-image: url(http://static.birgun.net/static/images/slider-arrow-right.svg);
//   @extend .prev-button;
// }

// .buttons-wrapper button:hover {
//   background-color: rgba(0, 0, 0, 0.4);
// }

/* indicators */
.indicators-wrapper {
  @media only screen and (max-width: 349px) {
    width: 310px;
  }
}

.indicators {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 350px;
  z-index: 2 !important;
  @media only screen and (max-width: 349px) {
    width: 310px;
  }
}

.indicators li {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  background-color: $white;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.indicators li:last-child {
  margin-right: 0;
}

.active-indicator {
  background: $purple !important;
  color: $white !important;
}

/* indicators */
