@import "../../shared/styles";

.resultsPage {
  background-color: $transparent-orange;
  border-bottom: $orange 1px solid;

  h1 {
    margin: 0;
  }

  p {
    font: $paragraph;
    color: $white;
  }

  .redo {
    margin: 20px;
    border: solid 2px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
  }

  .loader {
    display: flex;
    padding: 20px;
    margin: 20px;
    img {
      width: 100%;
    }
  }

  .circleTable {
    display: flex;
    justify-content: space-around;

    ul {
      list-style: none;
      padding: 5px 1px;
      text-align: center;
      width: 140px;
    }
  }

  .circleContainer {
    padding: 20px 0;
  }
  .circle {
    border: solid 1px $white;
    position: relative;
    padding: 20px 0;
    margin: 1em auto;
    width: 22em;
    height: 22em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
  }
  .circle li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
  }
  .label {
    left: -100%;
    font: $paragraph;
    height: 200%;
    position: absolute;
    text-align: center;
    width: 200%;
    -webkit-transform: skewY(60deg) rotate(14deg);
    -ms-transform: skewY(60deg) rotate(14deg);
    transform: skewY(60deg) rotate(14deg);
    padding-top: 20px;

    h4 {
      font: $small-paragraph;
      margin: -15px auto;
      width: 22%;
    }
  }

  .circle li:first-child {
    -webkit-transform: rotate(0deg) skewY(-60deg);
    -ms-transform: rotate(0deg) skewY(-60deg);
    transform: rotate(0deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(2) {
    -webkit-transform: rotate(30deg) skewY(-60deg);
    -ms-transform: rotate(30deg) skewY(-60deg);
    transform: rotate(30deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(3) {
    -webkit-transform: rotate(60deg) skewY(-60deg);
    -ms-transform: rotate(60deg) skewY(-60deg);
    transform: rotate(60deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(4) {
    -webkit-transform: rotate(90deg) skewY(-60deg);
    -ms-transform: rotate(90deg) skewY(-60deg);
    transform: rotate(90deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(5) {
    -webkit-transform: rotate(120deg) skewY(-60deg);
    -ms-transform: rotate(120deg) skewY(-60deg);
    transform: rotate(120deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(6) {
    -webkit-transform: rotate(150deg) skewY(-60deg);
    -ms-transform: rotate(150deg) skewY(-60deg);
    transform: rotate(150deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(7) {
    -webkit-transform: rotate(180deg) skewY(-60deg);
    -ms-transform: rotate(180deg) skewY(-60deg);
    transform: rotate(180deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(8) {
    -webkit-transform: rotate(210deg) skewY(-60deg);
    -ms-transform: rotate(210deg) skewY(-60deg);
    transform: rotate(210deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(9) {
    -webkit-transform: rotate(240deg) skewY(-60deg);
    -ms-transform: rotate(240deg) skewY(-60deg);
    transform: rotate(240deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(10) {
    -webkit-transform: rotate(270deg) skewY(-60deg);
    -ms-transform: rotate(270deg) skewY(-60deg);
    transform: rotate(270deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(11) {
    -webkit-transform: rotate(300deg) skewY(-60deg);
    -ms-transform: rotate(300deg) skewY(-60deg);
    transform: rotate(300deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:nth-child(12) {
    -webkit-transform: rotate(330deg) skewY(-60deg);
    -ms-transform: rotate(330deg) skewY(-60deg);
    transform: rotate(330deg) skewY(-60deg);
    border: white solid 1px;
  }
  .circle li:first-child .label {
    background: rgb(0, 192, 118);
  }
  .circle li:nth-child(2) .label {
    background: orangered;
  }
  .circle li:nth-child(3) .label {
    background: rgb(0, 192, 118);
  }
  .circle li:nth-child(4) .label {
    background: orange;
  }
  .circle li:nth-child(5) .label {
    background: orangered;
  }
  .circle li:nth-child(6) .label {
    background: orange;
  }
  .circle li:nth-child(7) .label {
    background: rgb(0, 192, 118);
  }
  .circle li:nth-child(8) .label {
    background: orangered;
  }
  .circle li:nth-child(9) .label {
    background: orangered;
  }
  .circle li:nth-child(10) .label {
    background: rgb(0, 192, 118);
  }
  .circle li:nth-child(11) .label {
    background: orange;
  }
  .circle li:nth-child(12) .label {
    background: orange;
  }
}
