@import "../../src/shared/styles";
nav {
  ul {
    background: repeating-linear-gradient(
      45deg,
      $transparent-orange,
      $orange 100px !important
    );
    width: fit-content;
    padding: 0;
    align-items: center;
  }
  a {
    color: $white;
  }
}

.navIcon {
  margin-right: 15px;

  @media (min-width: 479px) {
    display: none;
  }
}

.nav {
  fill: $orange;
  transform: scale(1.7);
}

.NavContainer {
  background: white;
  display: flex;
  justify-content: space-between;

  p {
    color: $orange;
    font: $sub-heading;
    line-height: 45px;
    margin: auto 20px;
  }
}
