@import "../../shared/styles";

.Tab {
  .tabs {
    display: flex;
    justify-content: space-around;
  }

  .Header {
    padding: 25px;
  }
  button {
    all: unset;
    // border-bottom: purple solid 2px;
    border: transparent;
    padding: 5px;
    background: transparent;
    &:active,
    :focus,
    :focus-within,
    :visited {
      border-bottom: purple solid 2px;
    }
  }

  p {
    color: $white;
    font: $paragraph;
    margin: 0;
  }
}
