@import "../../shared/styles";

.passwordChange {
  margin: 0 10%;

  p {
    font: $paragraph;
    margin: 36px 0;
  }
  input {
    padding: 17px 0;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: solid $white 2px;
    color: $white;
    margin: 0 auto;
    width: 298px;

    &::placeholder {
      color: $white;
    }

    &[type="date"] {
      color: $white;
    }

    &:focus {
      border: $purple solid 2px;
    }

    &:-internal-autofill-selected {
      background: none;
    }
  }
  .resetButton {
    border: none;
    border-radius: 30px;
    color: white;
    font: $buttonText;
    background-color: $purple;
    height: 48px;
    width: 285px;
  }

  .buttonContainer {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}
