@import "../../shared/styles";
.signInPage {
  background: $orange;
}
.topTitles {
  h1 {
    color: $white;
    font: $header;
    margin: 0;
    padding: 20px;
  }

  h3 {
    color: $white;
    font: $sub-heading;
    margin: 20px;
    text-align: left;
  }
}
.bottomLinks {
  border-bottom: $orange 1px solid;

  p {
    color: $white;
    font: $paragraph;
    margin: 20px;
    text-align: center;
  }
}

.signForm {
  display: flex;
  flex-direction: column;

  p {
    color: $white;
    padding: 0 20px;
  }

  span {
    color: $white;
    font: $paragraph;
    margin: 0 auto;
    padding: 10px 0;
    width: 318px;
  }

  input {
    padding: 0 10px;
  }

  select {
    width: 318px !important;
  }
  input,
  select {
    background: rgba($white, 0.17);
    border: none;
    border-radius: 10px;
    color: $white;
    height: 45px;
    margin: 0 auto;
    width: 298px;

    &::placeholder {
      color: $white;
    }

    &[type="date"] {
      color: $white;
    }

    &:focus {
      outline: none;
      border: $purple solid 2px;
    }

    &:-internal-autofill-selected {
      background: none;
    }
  }
  .signButton {
    border: none;
    border-radius: 30px;
    color: white;
    font: $buttonText;
    background-color: $purple;
    height: 54px;
    width: 285px;
  }

  .buttonContainer {
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }
}
