// @font-face {
//   font-family: NotoSans;
//   font-style: normal;
//   font-weight: 400;
//   src: url("./fonts/NotoSans-Regular.ttf"); /* IE9 Compat Modes */
//   src: local("NotoSans"), local("NotoSans"),
//     url("./fonts/NotoSans-Regular.ttf?#iefix") format("embedded-opentype");
// }
@font-face {
  font-family: RalewayReg;
  src: url("./fonts/NotoSans-Regular.ttf"); /* IE9 Compat Modes */
}

body {
  font-family: RalewayReg;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  @media only screen and (max-width: 600px) {
    margin: auto;
    margin-left: 0px; /* gutter size offset */
    flex-direction: column;
  }
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  @media only screen and (max-width: 600px) {
    padding-left: 0px; /* gutter size */
    padding: 10px;
    width: 100%;
    margin: auto;
  }
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 30px;
}
